= simple_nested_form_for @recipe do |f|
  = f.input :name
  = f.input :user_id, as: :hidden, input_html: { value: current_user_id }

  %h2 Picture
  = render partial: 'form_picture', locals: { form: f }

  - Recipe::TIME_ATTRIBUTES.each do |time_attribute|
    = f.input time_attribute, label: "#{Recipe.human_attribute_name time_attribute} (in Minutes)"
  
  %h2 Ingredients
  = f.input :ingredients, label: false
        
  %h2 Directions
  = f.input :directions, label: false
        
  %h2 Notes
  = f.input :notes, label: false
  
  %h2 References
  = f.input :references, label: false

  %h2 Tags(separated by commas)
  = f.input :tag_list, input_html: {value: f.object.tag_list.to_s}

  %br
    
  = f.button :submit, 'Update', title: 'Update this Recipe', data: { toggle: 'tooltip' }, class: 'btn btn-default'
