.card
  .card-header
    Picture
  - if form.object.picture?
    .card-img-top
      = image_tag form.object.picture_url, class: 'center-block'
  .card-block
    = form.input :picture, label: false, as: :file, input_html: { class: 'filestyle form-control', data: { buttonName: 'btn-secondary', buttonBefore: true, placeholder: 'None', iconName: 'fa fa-folder' } }
  - if form.object.picture?
    .card-footer
      = form.input :picture_cache, as: :hidden
      .form-check
        %label.form-check-label
          = form.input :remove_picture, as: :boolean, label: false
          = '.'
        Remove Current Picture
