= form_tag recipes_path, method: :post, html: { class: 'form-horizontal' } do |f|
  = hidden_field_tag :user_id, current_user_id
  %h2 Name
  = text_field_tag 'name', nil, class: 'medium-text-field'

  %h2 Times (in Minutes)
  - Recipe::TIME_ATTRIBUTES.each do |time_attribute|
    %h3= Recipe.human_attribute_name time_attribute
    = number_field_tag time_attribute, nil, class: 'form-control'

  %h2 Ingredients
  = text_area_tag 'ingredients', nil, class: 'form-control', rows: 10

  %h2 Directions
  = text_area_tag 'directions', nil, class: 'form-control', rows: 10

  %h2 Notes
  = text_area_tag 'notes', nil, class: 'form-control', rows: 10

  %h2 References
  = text_area_tag 'references', nil, class: 'form-control', rows: 2

  %h2 Tags(separated by commas)
  = text_field_tag 'tag_list', nil, class: 'medium-text-field'

  %br
  %br
  = submit_tag 'Submit'
