.card.recipe
  .card-block
    .row
      .hidden-sm-down
        .col-md-2
          = link_to image_tag(recipe.picture_url(:mid), class: 'card-img center-block'), recipe_path(recipe)
      .hidden-md-up
        .col-sm-2
          = link_to image_tag(recipe.picture_url(:thumb), class: 'card-img center-block'), recipe_path(recipe)
      .col-md-9
        .row
          .pull-right
            %p.card-text
              = pdf_link(recipe)
              = edit_link(recipe)
              = destroy_link(recipe)
          %h4.card-title.recipe-title= recipe.name
          .col-md-5
            - if recipe.tags.any?
              %p.card-text
                = glyph(:tags)
                = recipe.tag_list
            - if recipe.time_attributes?
              %p.card-text
                = glyph(:'clock-o')
                = short_time_attribute_description(recipe)
          .col-md-7
            = recipe.ingredient_summary
        .row
          %p.card-text{ style: 'padding-top: 5px;' }
            = link_to recipe_path(recipe), class: 'btn btn-secondary-outline' do
              = glyph('arrow-right')
              Go To Recipe
