%h1 All My Recipes

%div{style: "overflow-x:auto;"}
  %table.table.table-condensed.table-hover#recipes
    %thead
      %tr
        %th
        %th= Recipe.human_attribute_name :name
        %th= User.human_attribute_name :email
        %th= Recipe.human_attribute_name :created_at
        %th= Recipe.human_attribute_name :tag_list
        %th Times
        %th
    %tbody
      - @recipes.each do |recipe|
        %tr
          %td
            - if recipe.picture?
              = link_to image_tag(recipe.picture_url :thumb), recipe_path(recipe)
          %td= link_to recipe.name, recipe
          %td= recipe.user_name
          %td= local_time recipe.created_at, :short
          %td= recipe.tag_list
          -# super ugly, should be replaced if we can come up with a better solution...
          %td= short_time_attribute_description(recipe)
          %td
            = edit_link(recipe)
            = destroy_link(recipe)
