%h1 All My Recipes

%table.table.table-condensed.table-hover#recipes
  %thead
    %tr
      %th= Recipe.human_attribute_name :name
      %th= User.human_attribute_name :email
      %th= User.human_attribute_name :created_at
      %th
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to recipe.name, recipe
        %td= recipe.user_name
        %td= l recipe.created_at, format: :short
        %td
          - disabled = !(allow_edit? recipe)
          = render partial: 'edit_btn', locals: { recipe: recipe, disabled: disabled }
          = render partial: 'delete_btn', locals: { recipe: recipe, disabled: disabled }

= link_to 'New Recipe', new_recipe_path
