%h1 All My Recipes

%table.table.table-condensed.table-hover#recipes
  %thead
    %tr
      %th= Recipe.human_attribute_name :name
      %th= User.human_attribute_name :email
      %th= User.human_attribute_name :created_at
      %th
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to recipe.name, recipe
        %td= recipe.user_name
        %td= local_time recipe.created_at, :short
        %td
          = edit_link(recipe)
          = destroy_link(recipe)

= link_to 'New Recipe', new_recipe_path
