- model_class = Recipe
.page-header
  - if @recipe.picture?
    .row
      = image_tag @recipe.picture_url, class: 'center-block'

  %h1=t '.title', :default => title || model_class.model_name.human.titleize

  .recipe-user
    .row
      = glyph :user
      = @recipe.user_name
      = glyph :calendar
      = local_time @recipe.created_at
      %strong Tagged as
      = @recipe.tag_list
    .row
      - Recipe::TIME_ATTRIBUTES.each do |time_attribute|
        - next unless @recipe.send time_attribute
        %strong= "#{Recipe.human_attribute_name time_attribute}:"
        = minutes_in_words(@recipe.send time_attribute)
.row
  .col-md-4.col-md-push-8
    %h4 Ingredients
    %ul.list-unstyled.ingredients
      - @recipe.ingredient_list.each do |ingredient|
        %li= ingredient
  .col-md-8.col-md-pull-4
    %h4 Directions
    .recipe-directions        
      - @recipe.steps.each do |step|
        %p= step

    - if @recipe.notes
      %h4 Notes
      .recipe-notes
        = simple_format @recipe.notes
      
    - unless @recipe.references.blank?      
      %h4 References
      %ul.list-unstyled.references
        - @recipe.reference_list.each do |reference|
          %li= display_reference(reference)

    - if allow_edit? @recipe
      = edit_link(@recipe)
      = destroy_link(@recipe)
