- model_class = Recipe
.page-header
  .row.text-center
    = image_tag(@recipe.picture_url) if @recipe.picture?

  %h1=t '.title', :default => title || model_class.model_name.human.titleize

  .recipe-user
    = glyph :user
    = @recipe.user_name
    = glyph :calendar
    = local_time @recipe.created_at

.row
  .col-md-4.col-md-push-8
    %h4 Ingredients
    %ul.list-unstyled.ingredients
      - @recipe.ingredients.each do |ingredient|
        %li= ingredient.value
  .col-md-8.col-md-pull-4
    .recipe-directions        
      - @recipe.steps.each do |step|
        %p
          = image_tag(step.picture_url) if step.picture?
          = step.description

    - if @recipe.references.any?      
      %h4 References
      %ul.list-unstyled.references
        - @recipe.references.each do |reference|
          %li= link_to reference.location, reference.location.html_safe

    - if allow_edit? @recipe
      = edit_link(@recipe)
      = destroy_link(@recipe)
