!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title= content_for?(:title) ? yield(:title) : 'My Recipes'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    #content.container-fluid
      %nav
        %ul.nav
          %li.nav-item.dropdown
            = link_to '#', class: 'nav-link', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do
              = glyph 'bars fa-2x'
            .dropdown-menu
              = nav_link_to root_path do
                = glyph 'home fa-fw'
                Home
              .dropdown-divider
              - if user_signed_in?
                = nav_link_to edit_user_registration_path(current_user) do
                  = glyph 'cog fa-fw'
                  Your Account
                = nav_link_to destroy_user_session_path, method: :delete do
                  = glyph 'sign-out fa-fw'
                  Sign Out
              - else
                = nav_link_to new_user_session_path do
                  = glyph 'sign-in fa-fw'
                  Sign In
                = nav_link_to user_registration_path do
                  = glyph 'user-plus fa-fw'
                  Sign Up
      .row
        .col-lg-12
          = bootstrap_flash
      = yield
