!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title= content_for?(:title) ? yield(:title) : 'My Recipes'
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    #content.container-fluid
      .menu
        .login-menu
          - if user_signed_in?
            = link_to image_tag('logout-icon.png', alt: 'Sign Out'), destroy_user_session_path, :method => :delete, title: 'Logout', data: { toggle: 'tooltip' }
            = current_user.email
          - else
            = link_to image_tag('login-icon.png', alt: 'Sign In'), new_user_session_path, title: "You're not logged in yet...", data: { toggle: 'tooltip' }
        .main-menu
          = link_to image_tag('home-icon.png'), recipes_path, title: 'Recipe Overview', data: { toggle: 'tooltip' }
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
