!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %title= content_for?(:title) ? yield(:title) : 'My Recipes'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = favicon_link_tag
  %body
    .container-fluid
      = bootstrap_flash(class: 'flash')
      %nav.navbar.navbar-light.bg-faded.hidden-print{ style: "background-color: white; border: 5px solid #e5e5e5; border-radius: 25px; margin-top: 0px; margin-bottom: 10px;" }
        %ul.nav.navbar-nav
          = link_to '#', class: 'navbar-brand' do
            = image_tag('cooking-pot-32.png')
          = nav_link_to(root_path, :home, 'Home')
          = nav_link_to(new_recipe_path, :plus, 'Add Recipe')
          %li.nav-item
            .search-form
              = form_tag recipes_path, method: 'get', class: 'form-inline' do |form|
                = text_field_tag :search, params[:search], placeholder: "Search Recipes", class: 'form-control mr-sm-2'
          .pull-right
            - if user_signed_in?
              = nav_link_to(edit_user_registration_path(current_user), :cog, 'Account')
              = nav_link_to(destroy_user_session_path, 'sign-out', 'Sign-out', method: :delete)
      = yield
